<%= render 'form' %>

<div class='actions'>
  <%= link_to 'View', namespace_page_path(@namespace, @page), class: 'button' %>
  <%= link_to 'Delete', [@namespace, @page], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-dangerous' %>
</div>
