<%= render 'form' %>

<div class='actions'>
  <%= link_to 'View', namespace_page_path(@namespace, @page) %>
  <span class='meta-sep'>|</span>
  <%= link_to 'Delete', [@namespace, @page], method: :delete, data: { confirm: 'Are you sure?' }, class: 'is-dangerous' %>
</div>
