<h1>
  Editing
  <%= link_to @page, namespace_page_path(@namespace, @page) %>
</h1>

<%= render 'form' %>

<hr>

<%= link_to 'Delete', [@namespace, @page], method: :delete, data: { confirm: 'Are you sure?' } %>
