<% content_for(:title) { @page } %>

<nav class='actions'>
  <%= link_to 'A', :root %>
  <span class='meta-sep'>/</span>
  <%= link_to @namespace, @namespace %>
  <span class='meta-sep'>|</span>
  <%= link_to 'Δ', edit_namespace_page_path(@namespace, @page), class: 'js-page-edit' %>
</nav>

<div class='page'>
  <%= @page.to_html.html_safe %>
</div>
