<% content_for(:title) { "#{@namespace} / #{@page}" } %>

<nav class='actions'>
  <%= link_to 'A', :root %>
  <span>/</span>
  <%= link_to '◀', @namespace %>
  <span>|</span>
  <%= link_to 'Δ', edit_namespace_page_path(@namespace, @page), class: 'js-page-edit' %>
</nav>

<div class='page'>
  <%= @page.to_html.html_safe %>
</div>
