<% content_for(:title) { "#{@namespace} / #{@page}" } %>

<nav class='actions'>
  <%= link_to 'ðŸ”', :root %>
  <%= link_to 'ðŸ”™', @namespace %>
  <br>
  <%= link_to 'ðŸ”·', edit_namespace_page_path(@namespace, @page), class: 'js-page-edit' %>
</nav>

<div class='page'>
  <%= @page.to_html.html_safe %>
</div>
