<%= form_for(@namespace) do |f| %>
  <%= render 'common/errors', resource: @namespace %>

  <div class='form-field'>
    <%= f.text_field :name, placeholder: 'Name', value: params[:name] %>
  </div>

  <div class='form-actions'>
    <%= f.submit 'Save' %>
  </div>
<% end %>
