<% content_for(:title) { @namespace } %>

<nav class='actions'>
  <%= link_to 'A', :root %>
  <span class='meta-sep'>/</span>
  <%= link_to '+', new_namespace_page_path(@namespace) %>
</nav>

<ul>
  <%= content_tag_for :li, @pages do |page| %>
    <%= link_to page, namespace_page_path(@namespace, page) %>
  <% end %>
</ul>
