@import './common'
@import 'compass/reset'

*
  +selection(yellow, black)

html
  +box-sizing(border-box)

*,
*:before,
*:after
  box-sizing: inherit

body
  background-color: white
  color: black
  margin: $unit
  +serif-font()
  font-size: $base-font-size
  line-height: $base-line-height

a
  text-decoration: none
  &, &:visited
    color: blue

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
pre
  margin: $unit 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

section
  margin: ($unit * 2) 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: bold
  +sans-serif-font()

h1
  text-decoration: underline

em
  font-style: italic

strong
  font-weight: bold

code
  background-color: lighten(black, 87.5%)
pre
  padding: ($unit / 2)
  border: 2px solid black
  code
    background-color: transparent
pre, code
  +monospace-font()
  font-size: 14px

blockquote
  padding: ($unit / 2)
  border-left: 2px solid lighten(black, 50%)
  font-style: italic

hr
  height: 1px
  background-color: lighten(black, 75%)
  margin: ($unit * 2) 0
  border: none

img
  max-width: 100%
  vertical-align: bottom
