@import './common'
@import 'compass/reset'

*,
*:before,
*:after
  +box-sizing(border-box)

body
  background-color: white
  color: black
  margin: $unit
  @include serif-font()
  font-size: $base-font-size
  line-height: $base-line-height

a
  text-decoration: none

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
section
  margin: $unit 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: bold
  @include sans-serif-font()

em
  font-style: italic

strong
  font-weight: bold

pre
  font-family: monospace

hr
  height: 1px
  background-color: black
  margin: ($unit * 2) 0
  border: none
