@import 'compass/css3'

// Units
$unit: 20px
$base-font-size: 16px
$base-line-height: 1.6

// Colors
$light-blue-color: #c7cfde
$lighter-blue-color: #f5f7fb

// Mixins
@mixin serif-font()
  font-family: 'Times New Roman', times, serif

@mixin sans-serif-font()
  font-family: sans-serif
