@import './common'

.form
  padding: $unit
  margin-top: -$unit // Offset for hidden inputs

.field,
.submit
  +block-margins($unit)

.submit
  width: 50%
  padding-top: $unit
  border-top: 1px solid $gray-light

input[type='text'],
textarea,
select
  +sans-serif-font()
  font-size: $base-font-size

label
  display: block
  +small-type()
  color: lighten(black, 50%)
  margin-bottom: ($unit / 4)

input[type='text'],
textarea
  display: block
  width: 100%
  padding: ($unit / 4) ($unit / 2)

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button']
  +appearance(none)
  +sans-serif-font()
  display: inline-block
  padding: (($unit  / 2) + 1) $unit ($unit  / 2) $unit
  text-align: center
  text-decoration: none
  cursor: pointer
  border: none
  font-size: $base-font-size
  font-weight: bold
  line-height: 1
  background-color: $gray-light
  border-radius: 4px

  &,
  &:visited
    color: lighten(black, 25%)

  &:hover
    color: $gray-bold
    background-color: darken($gray-light, 25%)

  &.is-dangerous
    background-color: red
    color: white

  & + .button,
  & + button,
  & + input[type='submit'],
  & + input[type='reset'],
  & + input[type='button']
    +inline-margins($unit / 2)
