@import './common'

input[type='text'],
textarea,
select,
label
  +monospace-font()
  font-size: $base-font-size

label
  text-decoration: underline

select
  +appearance(none)
  display: block
  padding: ($unit / 4) ($unit / 2)
  border: 2px solid black
  +border-radius(0)
  &:focus
    outline: none
    background-color: $lighter-blue-color

input[type='text'],
textarea
  +appearance(none)
  display: block
  width: 100%
  margin: $unit 0
  padding: 0
  border: none
  background-color: white
  &:focus
    outline: none
    background-color: $lighter-blue-color

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button']
  +appearance(none)
  +sans-serif-font()
  display: inline-block
  padding: (($unit  / 2) + 1) $unit ($unit  / 2) $unit
  text-align: center
  text-decoration: none
  cursor: pointer
  border: 2px solid transparent
  font-size: $base-font-size
  font-weight: bold
  line-height: 1
  background-color: transparent
  text-transform: uppercase
  &, &:visited
    color: rgba(black, 0.75)
    border-color: rgba(black, 0.75)

  &:hover
    color: black
    border-color: black

  &:focus
    outline: none
    color: blue
    border-color: blue

  &.is-dangerous
    color: red
    border-color: red

  &.is-fixed
    display: block
    position: fixed
    bottom: $unit
    left: $unit
    width: calc(100% - #{$unit * 2})

.editor
  $button-height: ($base-font-size + $unit + 1 + 4)

  position: absolute
  top: $unit
  right: $unit
  bottom: $unit
  left: $unit
  > input[type='text']
    margin: 0
  > textarea
    position: absolute
    top: $base-font-size + $unit
    bottom: $button-height + $unit
    margin: 0
