@import './common'

.actions
  position: absolute
  top: $unit
  right: $unit
  @include sans-serif-font()
  z-index: 1

  > a
    display: inline-block
    color: black
    padding: ($unit / 2) $unit
    &:hover
      color: rgba(black, 0.5)

  > span
    color: rgba(black, 0.5)
