@import './common'

body[data-authenticated='false']
  .header
    display: none
  .content
    margin: 0

.header
  position: absolute
  display: flex
  align-items: center
  top: 0
  right: 0
  left: 0
  height: $header-height
  border-bottom: 1px solid $border-color

.breadcrumb,
.actions
  white-space: nowrap
  > a,
  > span
    position: relative
    display: inline-block
    padding: ($header-height / 2) $unit
    line-height: 0
    &:before
      display: block
      content: ''
      position: absolute
      top: 37.5%
      bottom: 37.5%
      right: 0
      width: 1px
      background-color: $border-color
      +transform(rotate(22.5deg))
    &:last-child:before
      display: none
  > a
    color: black
    &:hover
      color: blue
  > span
    color: lighten(black, 50%)

.actions
  text-align: right
  border-left: 1px solid $border-color
  > a
    &:before
      +transform(rotate(0deg))

.namespaces,
.pages,
.uploads
  padding: $unit

.inline
  height: 25%

.content
  margin: $header-height 0
  height: 100%

.item > a
  display: block

  > span
    > strong
      +sans-serif-font()
      font-size: 14px

  &:hover
    > span
      text-decoration: underline
    > time
      color: black

  &.is-locked
    color: red

.item-updated-at
  margin-left: ($unit / 4)
  +small-type()
  color: $border-color

  &:first-child
    margin-left: 0
