@import './common'

body[data-authenticated='false']
  .header
    display: none
  .content
    margin: 0 auto

.header
  &__contents
    max-width: $page-max-width
    margin: 0 auto
    display: flex
    height: $header-height
    align-items: center
    +sans-serif-font()
    font-size: $medium-font-size

.breadcrumb,
.contextual
  white-space: nowrap

  > a,
  > span
    position: relative
    display: inline-block
    padding: ($header-height / 2) $unit
    line-height: 0

    &:before
      display: block
      content: ''
      position: absolute
      top: 37.5%
      bottom: 37.5%
      right: 0
      width: 1px
      background-color: $gray-light
      +transform(rotate(22.5deg))

    &:last-child:before
      display: none

  > a
    color: black
    &:hover
      text-decoration: underline

  > span
    text-decoration: underline

  &__status
    color: $gray-regular
    text-decoration: none !important

.contextual
  text-align: right
  border-left: 1px dotted $gray-regular

  > a:before
    +transform(rotate(0deg))

  > form
    display: inline-block
    padding: 0 $unit

.actions
  position: absolute
  top: 0
  right: 0
  padding: $unit

  a,
  button
    color: $gray-regular

    &:hover
      color: black

.namespaces,
.pages,
.uploads
  padding: $unit

.content
  position: relative
  margin: $unit auto
  height: 100%
  padding-left: calc((100% - #{$page-max-width}) / 2)
  padding-right: calc((100% - #{$page-max-width}) / 2)

.page-add
  height: $page-add-height

.item
  position: relative
  display: block
  padding: $unit 0
  border-bottom: 1px solid $gray-regular

  &:hover
    .item__title,
    .item__preview,
    .item__meta
      color: $gray-bold

  &--locked
    > .item__title
      //

  &__title,
  &__preview,
  &__meta
    transition: color 0.25s

  &__title
    +sans-serif-font()
    color: black

  &__preview
    +sans-serif-font()
    font-size: $medium-font-size
    color: gray

  &__state
    position: absolute
    right: 0
    color: gray
    top: 50%
    +transform(translateY(-50%))

  &__meta
    margin-top: ($unit / 4)
    +small-type()
    color: $gray-regular

.pagination
  +sans-serif-font()
  display: table
  width: 100%
  font-size: 0

  & > span
    font-size: $base-font-size
    display: table-cell
    text-align: center
    background-color: white

  & > .page,
  & > .first,
  & > .prev,
  & > .next,
  & > .last
    & > a
      display: block
      width: 100%
      padding: ($unit * 2) 0
      color: black

      &:hover
        background-color: $gray-light
        text-decoration: none

  & > .gap,
  & > .current
    color: lighten(black, 50%)

  & > .current
    background-color: $gray-light

  & > .first,
  & > .prev,
  & > .next,
  & > .last
    width: 10%

.namespace-state
  position: fixed
  bottom: 0
  left: 0
  padding: $unit
  color: $gray-regular
