@import './common'

.page
  width: 75%
  ul, ol
    li
      position: relative
      margin: 0 0 0 1em
      &:before
        position: absolute
        right: 100%
        content: '—'
        text-align: right
        color: rgba(black, 0.5)

.page-version
  margin: $unit 0