@import './common'

.meta-sep
  margin: 0 1rem
  +opacity(0.5)

.actions
  position: absolute
  top: $unit
  right: $unit
  @include sans-serif-font()
  a
    color: black

// Rendered page
.page
  ul, ol
    li
      position: relative
      margin: 0 0 0 1em
      &:before
        position: absolute
        right: 100%
        content: '—'
        text-align: right
        color: rgba(black, 0.5)
